
body {
  background-image: linear-gradient(to top, darkred, yellow);
}
h1 {
  color: purple; font-family: Arial;text-transform: uppercase;
}
h2 {
  color: purple; font-family: Arial; 
}
p {
  font-family: Georgia,serif ; 
}
li {
  font-family: Georgia,serif; word-spacing: 4pt; 
}
#cheese {
  border-style: solid;
  border-width: 12px;
 
  }
  
  #center { 

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 900px;
    border: 5px ridge black;
    text-align: center;


  }

  header {
    width: 550px;
    height: 50px;
    border-width:4px;
    border-style:solid;
     border-color:black;
    margin: 0px;
    padding: 10px;
   margin-left: 200px;
   margin-top: 20px;
   


  }

nav{
  float: left;
  width: 380px;
  height: 350px;
  border-width:4px;
    border-style:solid;
     border-color:black;
  margin-left: 80px;
  margin-top: 30px;
  
}
main{
  float: right;
  width: 380px;
  height: 350px;
  border-width:4px;
    border-style:solid;
     border-color:black;
  margin-right: 130px;
  margin-top: 30px;
  
}
footer{
 text-align: center;
  width: 80%;
  height: 350px;
 margin-top: 420px;
 margin-left: 80px;
 margin-bottom: 10px;
 border-width:4px;
    border-style:solid;
     border-color:black;

}

a {
  background-color:orangered;
  border: 1px solid white;
}

a:hover{
  background-color: black;
  border-color: orange;
  color: orange;
}